<div class= "Title">
  <h1>Books</h1>
</div>
  <div class="blog-item clearfix">
    <section class="blog-text">
      <table>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th> </th>
        <tr>
        <% @books.each do |book| %>
          <tr>
            <td><%= book["title"] %> </td>
            <td><%= book["body"] %> </td>
            <td>
              <div class ="table">
                <%= link_to "Show", book_path(book) %>
                <%= link_to "Edit", edit_book_path(book) %> 
                <%= link_to "Destroy", book_path(book), method: :Destroy, data: {confirm:"本当によろしいですか？"} %> 
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </section>
  </div>

  <h1>NEW Book</h1>
  <!-- form_for部分 -->
   <%= form_for(@book,url: '/books') do |f| %>
      <div class="no-color-change" >
        <% if @book.errors.any? %>
          <% @book.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <%end%>
        <% end %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>body</p>
        <%= f.text_area :body %> 
        <%= f.submit 'Create Book'%>
      </div>
    <% end %>
  </div>